html, body {
    height: 100%;
    /* background-color: transparent !important; */
}

body {
    margin: 0;
    height: 100%;
}

#__next {
    height: 100%;
    /* background-color: transparent !important; */
}